.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(56, 55, 55);
  color: white;
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
}





.logocompany {
  width: 100%;
}