/* Estilos generales de la cuadrícula de tarjetas */
.imginfo {
  width: 100%;
}

.imginfo1 {
  width: 100%;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Cambié a 'space-around' para mejorar el espaciado */
  gap: 20px;
  /* Agregué espacio entre las tarjetas */
}

/* Estilos generales de cada tarjeta */
.card {
  position: relative;
  /* Agregado para permitir la posición absoluta de los elementos hijos */
  background-color: #f8f8f8;
  margin: 10px;
  overflow: hidden;
  width: calc(30% - 5px);
  height: 485px;
  /* Ajusta esto a la altura que prefieras */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  flex-direction: column;
  /* Agregado para alinear los elementos hijos verticalmente */
  justify-content: space-around;
  /* Agregado para distribuir el espacio alrededor de los elementos hijos */
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgb(255, 102, 0);
  transition: 0.3s;
  /* Efecto de escala al pasar el ratón para resaltar */
}

/* Estilos para el título de la tarjeta */
h1 {
  font-size: 2rem;
  /* Reduje ligeramente el tamaño del título */
  color: #333;
  /* Cambié el color del texto a un tono más oscuro */
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 0;
  /* Eliminé el margen inferior para acercar el título al borde superior de la tarjeta */
}

h2 {
  color: #f8f8f8;
}



/* Estilos para el enlace */
a {
  text-decoration: none;
  color: inherit;
}

.imgcard {
  margin-top: 20px;
  width: 80%;
  height: 30%;
  border-radius: 5%;

}

/* Estilos para el título de la tarjeta */
.card-title {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  /* Ajusté el tamaño del título */
  padding: 10px;
  background-color: rgb(255, 115, 0);
  /* Cambié el color de fondo a un tono de naranja más suave */
  border-radius: 0 0 15px 15px;
  /* Añadí bordes redondeados solo en la parte inferior */
}

/* Estilos para la descripción */
.card-description {
  font-size: 1rem;
  /* Ajusté el tamaño del texto de la descripción */
  padding: 15px;
  color: #555;
  /* Cambié el color del texto a un tono más oscuro */
}

/* Estilos para la información adicional (precio y duración) */
.card-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.card-price {
  position: absolute;
  /* El precio ahora está posicionado absolutamente */
  bottom: 60px;
  /* Ajusta esto para cambiar la distancia del precio desde la parte inferior de la tarjeta */
  width: 100%;
  /* Asegura que el precio se extienda a lo ancho de la tarjeta */
  text-align: center;
  /* Asegura que el precio esté centrado */
  font-weight: bold;
}

.card-duration {
  font-size: 0.9rem;
  /* Ajusté el tamaño del texto de precio y duración */
  color: #777;
  /* Cambié el color del texto a un tono más oscuro */
}

/* Estilos para el botón de reserva */
.reserva {
  position: absolute;
  /* El botón ahora está posicionado absolutamente */
  bottom: 10px;
  /* Ajusta esto para cambiar la distancia del botón desde la parte inferior de la tarjeta */
  left: 50%;
  /* Centra el botón horizontalmente */
  transform: translateX(-50%);
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: #f85307;
  padding: 14px 28px;
  font-weight: bold;
}

.reserva:hover {
  background-color: #048b31;
}

.pagination {
  margin-bottom: 15px;
  border: none;
  color: #fff;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgb(230, 87, 5);
  transition: background-color 0.3s ease-in-out;
}

.pagination:hover {
  background-color: rgb(164, 64, 5);
}

.spinner {
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%,
      rgba(82, 0, 255, 0) 0deg,
      #e87000 360deg);
  animation: spin 1s infinite linear;
}

.spinner::before {
  content: "";
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: #000;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.spinner2 {
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%,
      rgba(82, 0, 255, 0) 0deg,
      #ff5900 360deg);
  animation: spin 0.4s infinite linear;
}

.spinner2::before {
  content: "";
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: #ffffff;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}