/* Estilos para el formulario de login */
.login {
  margin-top: 200px;
  text-align: center;
  color: aliceblue;
}

/* Estilo del título principal del formulario de login */
.h1login {
  text-align: center;
  color: #e64d00;
  font-size: 400%;
}

/* Estilos para el enlace de registro en el formulario de login */
.Sigup1 {
  color: rgb(237, 128, 39);
  text-align: center;
}

/* Estilos para el texto de registro en el formulario de login */
.Sigup {
  color: rgb(14, 2, 65);
}

/* Estilos para el botón de enviar en el formulario de login */
.buttonlogin {
  width: 60%;
  margin-bottom: 15px;
  border: none;
  color: #fff;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  background-color: #f85b07;
  transition: background-color 0.3s ease-in-out;
}

.buttonlogin:hover {
  background-color: rgb(230, 42, 0);
}

/* Estilos para los campos de entrada en el formulario de login */
.inputdata {
  text-align: center;
  width: 60%;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  background-color: #f0f0f0;
  color: #333;
}
